<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>paquete.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>welcome</servlet-name>
        <servlet-class>welcome.welcome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bienvenido</servlet-name>
        <servlet-class>paquete.bienvenido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fallo</servlet-name>
        <servlet-class>paquete.fallo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BienvenidoProfe</servlet-name>
        <servlet-class>paquete.BienvenidoProfe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BienvenidoAlumno</servlet-name>
        <servlet-class>paquete.BienvenidoAlumno</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>welcome</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bienvenido</servlet-name>
        <url-pattern>/bienvenido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fallo</servlet-name>
        <url-pattern>/fallo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BienvenidoProfe</servlet-name>
        <url-pattern>/BienvenidoProfe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BienvenidoAlumno</servlet-name>
        <url-pattern>/BienvenidoAlumno</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
